#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body{
  background-color: lightsteelblue;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(3);
}

.header {
  grid-column: 1/8;
  grid-row: 1;
}

.calculator {
  grid-column: 4/8;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(5);
  background-color: cornflowerblue;
  padding: 10px;
  border-radius: 10px;
}

#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #comma {
  font-size: 25px;
  background-color:lightblue;
  color: darkslategray;
  border-color: darkslategray;
  padding: 10px;
  border-radius: 10px;
}

#clear, #equ, #add, #sub, #mul, #div {
  font-size: 25px;
  background-color:darkslateblue;
  color: lightskyblue;
  border-color: lightskyblue;
  padding: 10px;
  border-radius: 10px;
}

#result {
  grid-column: 1/3;
  grid-row: 1;
  font-size: 20px;
  text-align: right;
  min-height: 80px;
  min-width: 80px;
}

#equ {
  grid-column: 4;
  grid-row: 1;
}

#one, #two, #three, #add{
  grid-row: 2;
}

#four, #five, #six, #sub{
  grid-row: 3;
}

#seven, #eight, #nine, #mul{
  grid-row: 4;
}

#zero, #comma, #clear, #div {
  grid-row: 5;
}

#one, #four, #seven, #clear {
  grid-column: 1;
}

#two, #five, #eight, #zero {
  grid-column: 2;
}

#three, #six, #nine, #comma {
  grid-column: 3;
}

#add, #sub, #mul, #div{
  grid-column: 4;
}

.history{
  grid-column: 8/12;
  grid-row: 2;
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
}